mixin images 
    .img_container 
        img(src="../img/image.svg", alt="oclock" style='background-color:#191B1C; padding: 30px 0')
        h2(style="font-size:18px") Louis XVI ATHOS 
        span(style="font-size:16px") 165 000 руб.  