.page2_container 
    .rowItems1
        .page2_item1
            h1 СЕЗОН 2020/21
                mixin images 
                    .img_container 
                        img(src="../img/image.jpg", alt="oclock")
                        h2 Louis XVI ATHOS
                        span 165 000 руб.  
            .img_content
                +images
                +images
                +images
        .page2_item2 
            .items
                h1 Новая коллекция
                a(href="#") Каталог
    .rowItems2
        .page2_item3
            img(src="../img/bg3.jpg", alt="bg3")
        .page2_item4 
            .item4
                h1 коллекция 2018
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non rutrum ornare ut mattis habitant dui arcu. Sagittis amet nunc ut neque quis nibh arcu. Vivamus vestibulum nisi et venenatis sed scelerisque magna consectetur. Amet convallis quis gravida facilisis vulputate. Faucibus facilisi habitasse ipsum interdum dictum aliquet. Velit quis ullamcorper pulvinar nulla malesuada integer. Aenean praesent viverra nulla nullam natoque volutpat curabitur auctor. Viverra viverra ullamcorper scelerisque risus dignissim egestas. Id aliquam a aliquam egestas leo orci pharetra sed diam. 
                a(href="#") посмотреть коллекцию


